<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471068309420-cj8ts6fvk3rnbra9viour0b8gt3seh0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471068309420-cj8ts6fvk3rnbra9viour0b8gt3seh0g</string>
	<key>API_KEY</key>
	<string>AIzaSyDMMxuYbVuwnIVoTDbYwb9LoL_E9vnZS9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>471068309420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProject</string>
	<key>PROJECT_ID</key>
	<string>welfare001-ebbf0</string>
	<key>STORAGE_BUCKET</key>
	<string>welfare001-ebbf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471068309420:ios:7730ff2a84b0c504b7ac09</string>
</dict>
</plist>